/* CSS RESET */

@font-face {
  font-family: 'Metrophobic';
  src: url("font/Metrophobic.woff2");
}

.clearfix {
  clear: both;
}

.d {
  display: block;
}

.m {
  display: none;
}

@media screen and (max-width: 550px) {
  .d {
    display: none;
  }

  .m {
    display: block;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Metrophobic', sans-serif;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}


nav {
  width: 100%;
  padding: 50px 35px 50px 25px;
  position: fixed;
}

nav img {
  width: 17%;
  float: left;
}

nav ul {
  padding-top: calc((.17*(100vw - 75px) * .3711 - 30px)/2);
  float: right;
}

nav ul li {
  display: inline;
  font-size: 22px;
  margin: 0 15px;
}

nav ul li a,
nav ul li a:active,
nav ul li a:link,
nav ul li a:visited {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 768px) {
  nav ul li {
    margin: 0 8px;
  }
}

@media screen and (max-width: 550px) {

  @keyframes navScrolled {
    from {padding: 25px 5px}
    to {padding: 10px 5px}
  }

  @keyframes navScrolledReverse {
    from {padding: 10px 5px}
    to {padding: 25px 5px}
  }

  @keyframes navScrolledImg {
    from {width: 33%;}
    to {width: 15%;}
  }

  @keyframes navScrolledImgReverse {
    from {width: 15%;}
    to {width: 33%;}
  }

  @keyframes navScrolledUl {
    from {padding-top: 19px;}
    to {padding-top: 4px;}
  }

  @keyframes navScrolledUlReverse {
    from {padding-top: 4px;}
    to {padding-top: 19px;}
  }

  nav {
    width: 100%;
    padding: 25px 5px;
  }

  nav.no-scrolled {
    animation-name: navScrolledReverse;
    animation-duration: 1500ms;
  }

  nav.scrolled {
    padding: 10px 5px;
    animation-name: navScrolled;
    animation-duration: 1500ms;
  }

  nav img {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
  }

  nav.no-scrolled img {
    animation-name: navScrolledImgReverse;
    animation-duration: 1500ms;
  }

  nav.scrolled img {
    animation-name: navScrolledImg;
    animation-duration: 1500ms;
    width: 15%;
  }

  nav ul {
    float: none;
    text-align: center;
    padding-top: 19px;
  }

  nav.no-scrolled ul {
    animation-name: navScrolledUlReverse;
    animation-duration: 1500ms;
  }

  nav.scrolled ul {
    padding-top: 4px;
    animation-name: navScrolledUl;
    animation-duration: 1500ms;
  }

  nav ul li {
    padding: 0 20px;
  }
}

@media screen and (max-width: 382px) {
  nav ul li {
    padding: 0 5px;
  }
}

@media screen and (max-width: 305px){
  nav ul li {
    padding: 0;
    font-size: 18px;
  }
}

.nav-space {
    width: 100%;
    height: calc(.17*(100vw - 75px) * .3711 + 100px);
}

@media screen and (max-width: 550px) {
    .nav-space {
        height: calc(.33*(100vw - 10px) * .3711 + 97px);
    }
}

.container {
    padding-left: calc(.17 * 100vw + 25px);
    padding-right: calc(.17 * 100vw + 25px);
  width: 100%;
}

@media screen and (max-width: 650px) {
  .container.t-container {
    padding: 0 25px;
  }
}

@media screen and (max-width: 550px) {
  .container {
    padding: 0 25px;
  }
}

@media screen and (max-width: 305px) {
  .container {
    padding: 0 5px;
  }
}

.home {
    color: #332A7C;
  position: relative;
}

.home img {
    z-index: -1;
  padding-top: 20vh;
  right: 23%;
    width: 50%;
    transform: translateY(-187px);
  position: absolute;
}

.home h1 {
    padding-top: 15vh;
    float: left;
  font-size: 3.5em;
}

@media screen and (max-width: 1650px) {
  .home img {
    right: 20%;
  }
}

@media screen and (max-width: 1400px) {
  .home h1 {
    padding-top: 12vh;
    font-size: 3em;
  }
}

@media screen and (max-width: 1250px) {
.home h1 {
  font-size: 2.7em;
}
  .home img {
    width: 50%;
  }
}

@media screen and (max-width: 1000px) {
  .home h1 {
    padding-top: 10vh;
  }

  .home img {
    right: 10%;
    width: 60%;
  }
}

@media screen and (max-width: 920px) {
  .home img {
    right: 0;
    width: 70%;
  }
}

@media screen and (max-width: 800px) {
  .home h1 {
    padding-top: 6vh;
    font-size: 2em;
  }
}

@media screen and (max-width: 650px) {
  .home h1 {
    padding-top: 6vh;
    font-size: 1.7em;
  }
}

@media screen and (max-width: 550px) {

  .home h1 {
    font-size: 2.5em;
  }

  .home .space.m {
    padding-bottom: 20vh;
  }

}

.services {
  position: relative;
  margin-top: 20vh;
  padding-top: 20vh;
  color: #332A7C;
}

.services img {
  float: right;
  width: 30%;
}

.services h3 {
  top: auto;
  position: absolute;
  bottom: 0;
  max-width: 65%;
  font-size: 2.40em;
}

@media screen and (max-width: 1400px) {
  .services {
    margin-top: 15vh;
    padding-top: 15vh;
  }
  .services h3 {
    font-size: 2.2em;
  }
}

@media screen and (max-width: 1250px) {
  .services h3 {
    font-size: 1.7em;
  }
}

@media screen and (max-width: 1000px) {
  .services h3 {
    font-size: 1.6em;
  }
}

@media screen and (max-width: 930px) {
  .services h3 {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 800px) {
  .services {
    margin-top: 10vh;
    padding-top: 10vh;
  }
  .services h3 {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 650px) {
  div#services.container {

  }
  .services h3 {
    font-size: 1.19em;
  }
}

@media screen and (max-width: 550px) {
  .services {
    margin-top: 0;
    padding-top: 15vh;
  }
  
  .services h3 {
padding-top: 3vh;
    position: relative;
    font-size: 1.3em;
    max-width: 100%;
  }

  .services img {
    width: 65%;
    margin-right: -25px;
    position: relative;
  }
}

/* calc((0.17 * 100vw * 3568 / 1324 - 30) / 2)
calc((.17*(100vw - 75px) * .3711 - 30px)/2);*/