/* CSS RESET */

@font-face {
  font-family: 'Metrophobic';
  src: url("font/Metrophobic.woff2");
}

.clearfix {
  clear: both;
}

.d {
  display: block;
}

.m {
  display: none;
}

@media screen and (max-width: 550px) {
  .d {
    display: none;
  }

  .m {
    display: block;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Metrophobic', sans-serif;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}


nav {
  width: 100%;
  padding: 50px 35px 50px 25px;
  position: fixed;
}

nav img {
  width: 17%;
  float: left;
}

nav ul {
  padding-top: calc((.17*(100vw - 75px) * .3711 - 30px)/2);
  float: right;
}

nav ul li {
  display: inline;
  font-size: 22px;
  margin: 0 15px;
}

nav ul li a,
nav ul li a:active,
nav ul li a:link,
nav ul li a:visited {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 768px) {
  nav ul li {
    margin: 0 8px;
  }
}

@media screen and (max-width: 550px) {

  @keyframes navScrolled {
    from {padding: 25px 5px}
    to {padding: 10px 5px}
  }

  @keyframes navScrolledReverse {
    from {padding: 10px 5px}
    to {padding: 25px 5px}
  }

  @keyframes navScrolledImg {
    from {width: 33%;}
    to {width: 15%;}
  }

  @keyframes navScrolledImgReverse {
    from {width: 15%;}
    to {width: 33%;}
  }

  @keyframes navScrolledUl {
    from {padding-top: 19px;}
    to {padding-top: 4px;}
  }

  @keyframes navScrolledUlReverse {
    from {padding-top: 4px;}
    to {padding-top: 19px;}
  }

  nav {
    width: 100%;
    padding: 25px 5px;
  }

  nav.no-scrolled {
    animation-name: navScrolledReverse;
    animation-duration: 1500ms;
  }

  nav.scrolled {
    padding: 10px 5px;
    animation-name: navScrolled;
    animation-duration: 1500ms;
  }

  nav img {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
  }

  nav.no-scrolled img {
    animation-name: navScrolledImgReverse;
    animation-duration: 1500ms;
  }

  nav.scrolled img {
    animation-name: navScrolledImg;
    animation-duration: 1500ms;
    width: 15%;
  }

  nav ul {
    float: none;
    text-align: center;
    padding-top: 19px;
  }

  nav.no-scrolled ul {
    animation-name: navScrolledUlReverse;
    animation-duration: 1500ms;
  }

  nav.scrolled ul {
    padding-top: 4px;
    animation-name: navScrolledUl;
    animation-duration: 1500ms;
  }

  nav ul li {
    padding: 0 20px;
  }
}

@media screen and (max-width: 382px) {
  nav ul li {
    padding: 0 5px;
  }
}

@media screen and (max-width: 305px){
  nav ul li {
    padding: 0;
    font-size: 18px;
  }
}

.nav-space {
    width: 100%;
    height: calc(.17*(100vw - 75px) * .3711 + 100px);
}

@media screen and (max-width: 550px) {
    .nav-space {
        height: calc(.33*(100vw - 10px) * .3711 + 97px);
    }
}

.container {
    padding-left: calc(.17 * 100vw + 25px);
    padding-right: calc(.17 * 100vw + 25px);
  width: 100%;
}

.disable-scroll {
  overflow: hidden;
}

@media screen and (max-width: 650px) {
  .container.t-container {
    padding: 0 25px;
  }
}

@media screen and (max-width: 550px) {
  .container {
    padding: 0 25px;
  }
}

@media screen and (max-width: 305px) {
  .container {
    padding: 0 5px;
  }
}

.home {
    color: #332A7C;
  position: relative;
}

.home img {
    z-index: -1;
  padding-top: 20vh;
  right: 23%;
    width: 50%;
    transform: translateY(-187px);
  position: absolute;
}

.home h1 {
    padding-top: 15vh;
    float: left;
  font-size: 3.5em;
}

@media screen and (max-width: 1650px) {
  .home img {
    right: 20%;
  }
}

@media screen and (max-width: 1400px) {
  .home h1 {
    padding-top: 12vh;
    font-size: 3em;
  }
}

@media screen and (max-width: 1250px) {
.home h1 {
  font-size: 2.7em;
}
  .home img {
    width: 50%;
  }
}

@media screen and (max-width: 1000px) {
  .home h1 {
    padding-top: 10vh;
  }

  .home img {
    right: 10%;
    width: 60%;
  }
}

@media screen and (max-width: 920px) {
  .home img {
    right: 0;
    width: 70%;
  }
}

@media screen and (max-width: 800px) {
  .home h1 {
    padding-top: 6vh;
    font-size: 2em;
  }
}

@media screen and (max-width: 650px) {
  .home h1 {
    padding-top: 6vh;
    font-size: 1.7em;
  }
}

@media screen and (max-width: 550px) {

  .home h1 {
    font-size: 2.5em;
  }

  .home .space.m {
    padding-bottom: 20vh;
  }

}

.services {
  position: relative;
  margin-top: 20vh;
  padding-top: 20vh;
  color: #332A7C;
}

.services img {
  float: right;
  width: 30%;
}

.services h3 {
  top: auto;
  position: absolute;
  bottom: 0;
  max-width: 65%;
  font-size: 2.40em;
}

@media screen and (max-width: 1400px) {
  .services {
    margin-top: 15vh;
    padding-top: 15vh;
  }
  .services h3 {
    font-size: 2.2em;
  }
}

@media screen and (max-width: 1250px) {
  .services h3 {
    font-size: 1.7em;
  }
}

@media screen and (max-width: 1000px) {
  .services h3 {
    font-size: 1.6em;
  }
}

@media screen and (max-width: 930px) {
  .services h3 {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 800px) {
  .services {
    margin-top: 10vh;
    padding-top: 10vh;
  }
  .services h3 {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 650px) {
  div#services.container {

  }
  .services h3 {
    font-size: 1.19em;
  }
}

@media screen and (max-width: 550px) {
  .services {
    margin-top: 0;
    padding-top: 15vh;
  }

  .services h3 {
padding-top: 3vh;
    position: relative;
    font-size: 1.3em;
    max-width: 100%;
  }

  .services img {
    width: 65%;
    margin-right: -25px;
    position: relative;
  }
}

.discover-more {
  position: relative;
  text-align: center;
  padding: 70px 0;
}

.discover-more span {
  padding: 61px 20px;
  background-color: #FFD034;
  color: #332A7C;
  font-size: 1em;
  border-radius: 100px;
}

.discover-more .ring {
  height: 142px;
  width: 142px;
  z-index: -1;
  left: 50%;
  position: absolute;
  transform: translate(-50%, calc(-50% + 10px));
  border-radius: 1000px;
  border: 1px solid rgba(255, 208, 52, 1);
  animation-name: ring;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes ring {
  from {
    width: 142px;
    height:142px;
    border-color: rgba(255, 208, 52, 1);
  }
  to {
    width: 170px;
    height: 170px;
    border-color: rgba(255, 208, 52, 0);
  }
}

.discover-more-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    background-color: #FFD034;
    display: none;
    color: #332A7C;
  padding-bottom: 10vh;
}

.discover-more-container h1 {
  margin-bottom: 2vh;
}

.discover-more-container.open {
    display: block;
}

.discover-more-container .close {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 3em;
}

.discover-more-container .box1 {
  padding-top: 10vh;
  padding-left: calc(100% / 16);
  width: calc(100% / 16 * 5);
  max-width: calc(100% / 16 * 5);
  float: left;
}

.discover-more-container .box2 {
  padding-top: 13vh;
  padding-left: calc(100% / 16 * 5);
  width: calc(100% / 16 * 10);
  max-width: calc(100% / 16 * 10);
  float: left;
}

.discover-more-container .box3 {
  padding-left: calc(100% / 16 * 2);
  width: calc(100% / 16 * 7);
  max-width: calc(100% / 16 * 7);
  float: left;
}

.discover-more-container .box4 {
  padding-top: 10vh;
  padding-left: calc(100% / 16 * 2);
  width: calc(100% / 16 * 8);
  max-width: calc(100% / 16 * 8);
  float: left;
}

@media screen and (max-width: 1000px) {
  .discover-more-container .box1 {
    width: calc(100% / 16 * 6);
    max-width: calc(100% / 16 * 6);
  }
}

@media screen and (max-width: 550px) {

    @keyframes discoverMoreHorizontalScroll0 {
      to {transform: translate(0);}
    }

    @keyframes discoverMoreHorizontalScroll25 {
      to {transform: translate(-25%);}
    }

    @keyframes discoverMoreHorizontalScroll50 {
      to {transform: translate(-50%);}
    }

    @keyframes discoverMoreHorizontalScroll75  {
      to {transform: translate(-75%);}
    }

    .discover-more {
         padding: 240px 0;
    }

    .discover-more-container-close {
      position: fixed;
      z-index: 100;
      top: auto;
      bottom: 13vh;
      font-size: 3em;
      text-align: center;
      width: 100%;
      color: #332A7C;
      display: none;
    }
    .discover-more-container-close.open {
      display: block;
    }

    ul.dots {
      position: fixed;
      bottom: 0;
      width: 100%;
      z-index: 200;
      height: 15vh;
      padding-top: calc((15vh - 20px)/2);
      text-align: center;
      display: none;
    }

    ul.dots.open {
      display: block;
    }

    ul.dots li {
      border-radius: 100px;
      width: 20px;
      height: 20px;
      display: inline-block;
      margin: 0 5px;
      background-color: #B3934F;
    }

    ul.dots li.active {
      background-color: #332A7C;
    }

    .discover-more-container {
      padding: 75px 0 25px 0;
      overflow-x: hidden;
      overflow-y: scroll;
      width: 400%;
      animation-name: discoverMoreHorizontalScroll0;
      animation-duration: 1s;
    }

    .discover-more-container .box1,
    .discover-more-container .box2,
    .discover-more-container .box3,
    .discover-more-container .box4 {
      width: 25%;
      max-width: 25%;
      padding: 0 25px;

    }
}

.team {
  position: relative;
  margin-top: 20vh;
}

.team img {
  width: 30%;
  float: left;
}

.team h3 {
  position: absolute;
  bottom: 0;
  padding-left: 40%;
  font-size: 2.4em;
  color: #332A7C;
}

@media screen and (max-width: 1400px) {
  .team h3 {
    font-size: 2.2em;
  }
}

@media screen and (max-width: 1250px) {
  .team h3 {
    font-size: 1.7em;
  }
}

@media screen and (max-width: 1000px) {
  .team h3 {
    font-size: 1.6em;
  }
}

@media screen and (max-width: 930px) {
  .team h3 {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 800px) {
  .team h3 {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 650px) {
  .team h3 {
    font-size: 1.19em;
  }
}

@media screen and (max-width: 550px) {
  .team {
    margin-top: 0;
  }
  .team h3 {
    bottom: auto;
    position: relative;
    padding-left: 0;
    padding-bottom: 10vh;
  }
  .team img {
    width: 50%;
    left: 50%;
    transform: translate(-50%);
    float: none;
    position: relative;
  }
}


div.highway-slider {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 150px;
}
div.highway-slider div.highway-barrier {
  overflow:hidden;
  position:relative;
}

div.highway-slider div.highway-barrier ul.highway-lane {
  display: flex;
  height: 100%;
}
div.highway-slider div.highway-barrier ul.highway-lane li.highway-car {
  flex:1;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#fff;
  color: #A6A2C6;
  font-size: 2.2em;
}

div.highway-slider div.highway-barrier ul.highway-lane li.highway-car:hover,
div.highway-slider div.highway-barrier ul.highway-lane li.highway-car:hover.active {
  color: #332A7C;
}

@keyframes translatestf {
  0% { transform:translateX(100%);  }
  100% { transform:translateX(-500%);  }
}

@keyframes translateinfinite {
  100% { transform:translateX(calc(-180px * 12));  }
}
#infinite div.highway-barrier {
  background: #fff;
}
#infinite div.highway-barrier::before,
#infinite div.highway-barrier::after {
   content: " ";
   position:absolute;
   z-index:9;
   width:180px;
   height:100%;
 }
#infinite div.highway-barrier::before {
   top:0;left:0;
   /*background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
*/ }
#infinite div.highway-barrier::after {
   top:0;right:0;
   /*background: linear-gradient(to left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
 */}
ul.highway-lane {
  width: calc(180px * 24);
}
ul.highway-lane li.highway-car {
  width: 180px;
  animation: translateinfinite 45s linear infinite;
}

@media screen and (max-width: 1400px) {
  div.highway-slider div.highway-barrier ul.highway-lane li.highway-car {
    font-size: 2em;
  }
  @keyframes translateinfinite {
    100% { transform:translateX(calc(-140px * 12));  }
  }
  #infinite div.highway-barrier::before,
  #infinite div.highway-barrier::after {
    width: 140px;
  }
  ul.highway-lane {
    width: calc(140px * 24);
  }
  ul.highway-lane li.highway-car {
    width: 140px;
    animation: translateinfinite 38s linear infinite;
  }
}

@media screen and (max-width: 1250px) {
  div.highway-slider div.highway-barrier ul.highway-lane li.highway-car {
    font-size: 1.6em;
  }
  @keyframes translateinfinite {
    100% { transform:translateX(calc(-100px * 12));  }
  }
  #infinite div.highway-barrier::before,
  #infinite div.highway-barrier::after {
    width: 100px;
  }
  ul.highway-lane {
    width: calc(100px * 24);
  }
  ul.highway-lane li.highway-car {
    width: 100px;
    animation: translateinfinite 30s linear infinite;
  }
}

@media screen and (max-width: 1000px) {
  div.highway-slider div.highway-barrier ul.highway-lane li.highway-car {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 930px) {
  div.highway-slider div.highway-barrier ul.highway-lane li.highway-car {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 800px) {
  div.highway-slider div.highway-barrier ul.highway-lane li.highway-car {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 650px) {
  div.highway-slider div.highway-barrier ul.highway-lane li.highway-car {
    font-size: 1em;
  }
}

@media screen and (max-width: 550px) {
  div.highway-slider div.highway-barrier ul.highway-lane li.highway-car {
    font-size: 1.4em;
  }
  @keyframes translateinfinite {
    100% { transform:translateX(calc(-80px * 12));  }
  }
  #infinite div.highway-barrier::before,
  #infinite div.highway-barrier::after {
    width: 80px;
  }
  ul.highway-lane {
    width: calc(80px * 24);
  }
  ul.highway-lane li.highway-car {
    width: 80px;
    animation: translateinfinite 45s linear infinite;
  }
}

/* calc((0.17 * 100vw * 3568 / 1324 - 30) / 2)
calc((.17*(100vw - 75px) * .3711 - 30px)/2);*/