/* CSS RESET */

@font-face {
  font-family: 'Metrophobic';
  src: url("font/Metrophobic.woff2");
}

.clearfix {
  clear: both;
}

.d {
  display: block;
}

.m {
  display: none;
}

@media screen and (max-width: 550px) {
  .d {
    display: none;
  }

  .m {
    display: block;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Metrophobic', sans-serif;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}


nav {
  width: 100%;
  padding: 50px 35px 50px 25px;
  position: fixed;
}

nav img {
  width: 17%;
  float: left;
}

nav ul {
  padding-top: calc((.17*(100vw - 37px) * .3711 - 30px)/2);
  float: right;
}

nav ul li {
  display: inline;
  font-size: 22px;
  margin: 0 15px;
}
/* calc((0.17 * 100vw * 3568 / 1324 - 30) / 2) */
nav ul li a,
nav ul li a:active,
nav ul li a:link,
nav ul li a:visited {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 768px) {
  nav ul li {
    margin: 0 8px;
  }
}

@media screen and (max-width: 550px) {

  @keyframes navScrolled {
    from {padding: 25px 5px}
    to {padding: 10px 5px}
  }

  @keyframes navScrolledReverse {
    from {padding: 10px 5px}
    to {padding: 25px 5px}
  }

  @keyframes navScrolledImg {
    from {width: 33%;}
    to {width: 15%;}
  }

  @keyframes navScrolledImgReverse {
    from {width: 15%;}
    to {width: 33%;}
  }

  @keyframes navScrolledUl {
    from {padding-top: 19px;}
    to {padding-top: 4px;}
  }

  @keyframes navScrolledUlReverse {
    from {padding-top: 4px;}
    to {padding-top: 19px;}
  }

  nav {
    width: 100%;
    padding: 25px 5px;
  }

  nav.no-scrolled {
    animation-name: navScrolledReverse;
    animation-duration: 1500ms;
  }

  nav.scrolled {
    padding: 10px 5px;
    animation-name: navScrolled;
    animation-duration: 1500ms;
  }

  nav img {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
  }

  nav.no-scrolled img {
    animation-name: navScrolledImgReverse;
    animation-duration: 1500ms;
  }

  nav.scrolled img {
    animation-name: navScrolledImg;
    animation-duration: 1500ms;
    width: 15%;
  }

  nav ul {
    float: none;
    text-align: center;
    padding-top: 19px;
  }

  nav.no-scrolled ul {
    animation-name: navScrolledUlReverse;
    animation-duration: 1500ms;
  }

  nav.scrolled ul {
    padding-top: 4px;
    animation-name: navScrolledUl;
    animation-duration: 1500ms;
  }

  nav ul li {
    padding: 0 20px;
  }
}

@media screen and (max-width: 382px) {
  nav ul li {
    padding: 0 5px;
  }
}

@media screen and (max-width: 290px){
  nav ul li {
    padding: 0;
    font-size: 18px;
  }
}